@import 'style.css';

main, body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:1.3vw;
}

h1{
    
    font-size:2vw;
    background: -webkit-linear-gradient(#a41313, #dd2a31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games{
    color:white;
}


.games .labelButton{
    width:3vw;
    display:inline-block;
}
