html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
}

dialog {
    position: absolute;
    float: none;
    top: 5%;
}

.menuButton {
    position: absolute;
    float: left;
    bottom: 5%;
    margin: 1%;
}

.uiOverlay {
    display: none;
}

.menuButton:hover {
    background-color: #0000FFA0;
    outline: #0000FFA0 solid 2px;
}
