
@font-face {
    font-family: rexlia;
    src: url(/res/rexlia.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    font-family: rexlia;
}

.labelButton {
    background-image:url('/res/button_clear.svg');
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
    display:block;
    width:15vw;
    margin:1vw;
    transition: transform 0.2s;
    color:black;
}

.labelButton:hover{
    transform: translateY(-0.1vw);
}
